.navigation {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2cb2;
    border-radius: 1em;
    padding: 1em 2em;
}

.nav-title {
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
}

.navigation ul {
    display: flex;
    justify-content: center;
    gap: 1.6em;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.navigation ul li {
    position: relative;
    list-style: none;
    margin: 0 15px;
}

.navigation ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
}

.navigation ul li a .icons {
    font-size: 1.5em;
    transition: 0.3s;
}

.navigation ul li:hover a .icons {
    transform: translateY(-5px);
}
.navigation ul li.act a .icons {
    transform: translateY(-5px);
    color: #ff9b08;
}


.navigation ul li a .title {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s;
}

.navigation ul li:hover a .title {
    opacity: 1;
    transform: translateY(30px);
}
.navigation ul li.act a .title {
    color: #ff9b08;
    opacity: 1;
    transform: translateY(30px);
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.auth-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sign-in {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.sign-out {
    background-color: red;
    color: whitesmoke;
}
.sign-up {
    background-color: white;
    color: #2c2cb2;
}
.user {
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.profile {
    font-size: 2em;
    font-weight: bold;
}
.auth-buttons button:hover {
    opacity: 0.8;
}
@media all and (max-width: 899px) {
    .navigation {
        display: none;
    }
}